<!DOCTYPE html>
<html>
    <div th:fragment="small(tweet)">
        <div class="smalltweet">
            <div th:replace="fragments/thinaccount :: thin(${tweet.author})" />
            <span th:if="${tweet.retweet}" style="font-style: italic; color: grey;">Retweeted:</span>
            <a style="text-decoration: none;" th:href="@{'/' + ${tweet.author.handle} + '/status/' + ${tweet.id}}">
                <h4 class="smalltweetcontent" th:utext="${tweet.content}" />
            </a>
            <div class="tweetimgs" style="margin-top: 10px;">
                <tr th:each="imgurl : ${tweet.imageurls}">
                    <img th:src="${imgurl}" />
                </tr>
            </div>
            <table style="table-layout: fixed; width:100%; text-align: center; margin-top: 5px; margin-bottom: 5px;">
                <tr>
                    <td>Likes: <th:block th:utext="${tweet.likes}"/></td>
                    <td>Post Date: <th:block th:utext="${tweet.postDate}"/></td>
                </tr>
                <tr>
                    <td>Retweets: <th:block th:utext="${tweet.retweets}"/></td>
                    <td>Device: <th:block th:utext="${tweet.device}"/></td>
                </tr>
            </table>
        </div>
    </div>
</html>