<!DOCTYPE html>
<html>
    <div th:fragment="thin(account)">
        <div style="width: 100%;">
            <a th:href="@{'/' + ${account.handle}}">
                <div class="avatartext">
                    <img class="avatarimg" th:src="${account.avatarUrl}" />
                    <div class="textcontent">
                        <h2 class="accountnick" th:text="${account.nickname}" />
                        <p class="accounthandle" >@<th:block th:utext="${account.handle}" />
                    </div>
                </div>
            </a>
        </div>
    </div>
</html>