html {
    background-color: #111111;
    color: white;
    font-family: monospace !important;
}

.favoriteaccount {
    color: white;
}

.avatartext > * {
    display: inline-block;
}

.avatarimg {
    height: 50px;
}

.textcontent {
    vertical-align: top;
}

.accountnick {
    margin: 0;
    color: white;
}

.accounthandle {
    color: grey;
    margin: 0;
}

.middle, #middle {
    margin: auto;
    width: 75%;
    border: 1px solid grey;
}

.smalltweetcontainer {
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
}

.smalltweetcontent {
    margin-top: 5px;
    margin-bottom: 0;
    color: white;
    font-size: 14px;
}

.tweetimgs {
    max-width: 23%;
    max-height: 200px;
}

.metrictable {
    table-layout: fixed;
    width:100%;
    text-align: center;
}

.metric {
    font-size: 14px;
}

.smallmetric {
    font-size: 12px;
}

.metricimg {
    vertical-align: middle;
}

.smallmetricimg {
    vertical-align: middle;
    height: 12px;
}