<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Timeline</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/common.js" defer></script>
</head>
<body>
    <div th:replace="fragments/favoriteaccounts :: accounts" />
    
    <div class="middle">
        <tr th:each="twt : ${tweets}">
            <div class="smalltweetcontainer">
                <div th:replace="fragments/smalltweet :: small(${twt})" />
            </div>
        </tr>
    </div>
</body>
</html>