<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title><th:block th:utext="${tweet.author.nickname}"/> tweeted "<th:block th:utext="${tweet.content}"/>"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div th:replace="fragments/favoriteaccounts :: accounts" />
    
    <div class="middle">
        <div id="maintweet">
            <div th:replace="fragments/thinaccount :: thin(${tweet.author})" />
            <span th:if="${tweet.retweet}" style="font-style: italic; color: grey;">Retweeted:</span>
            <h3 th:utext="${tweet.content}"></h3>
            <div class="tweetimgs">
                <tr th:each="imgurl : ${tweet.imageurls}">
                    <img th:src="${imgurl}" />
                </tr>
            </div>
            <table style="table-layout: fixed; width:100%; text-align: center;">
                <tr>
                    <td>Likes: <th:block th:utext="${tweet.likes}"/></td>
                    <td>Retweets: <th:block th:utext="${tweet.retweets}"/></td>
                    <td>Post Date: <th:block th:utext="${tweet.postDate}"/></td>
                    <td>Device: <th:block th:utext="${tweet.device}"/></td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="middle">
        <div class="tweetreplies">
            <tr th:each="rep : ${replies}">
                <div th:replace="fragments/smalltweet :: small(${rep})" />
            </tr>
        </div>
    </div>
</body>
<style>
    .tweetimgs > * {
        width: 50% !important;
    }
    
    .tweetreplies > * {
        border-bottom: 1px solid gray;
    }
</style>
</html>