<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title><th:block th:utext="${tweet.author.nickname}"/> tweeted "<th:block th:utext="${tweet.content}"/>"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div th:replace="fragments/favoriteaccounts :: accounts" />
    
    <div id="middle">
        <div th:replace="fragments/thinaccount :: thin(${tweet.author})" />
        <h3 th:utext="${tweet.content}"></h3>
        <table style="table-layout: fixed; width:100%; text-align: center;">
            <tr>
                <td>Likes: <th:block th:utext="${tweet.likes}"/></td>
                <td>Retweets: <th:block th:utext="${tweet.retweets}"/></td>
                <td>Post Date: <th:block th:utext="${tweet.postDate}"/></td>
                <td>Device: <th:block th:utext="${tweet.device}"/></td>
            </tr>
        </table>
    </div>
</body>
<style>
    #middle {
        margin: auto;
        width: 75%;
        border: 1px solid grey;
    }
</style>
</html>